#books {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

#authors {
    margin-top: 100px;
    display: flex-box;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .book-card {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
  }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #8da0f3;
  color: black;
  z-index: 1000;
  margin-bottom: 100px;
}
nav ul {
  padding: 10px;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
nav ul li {
  float: left;
  display: inline;
  padding: 14px 16px;
}
